
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-image: url("./pictures/maple_lake_banner.jpg"); */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    height: 100%;
    background-color: lightgray;
}    

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

img {
    margin: 1em 3.125em;
    height: auto;
    width: auto;
}

ul {
    text-align: right;
}

h1 {
    font-size: 1em;
}

/*Header Section*/

header {
    margin: 0 auto;
}

li {
    list-style: none;
    display: inline-block;
}

header li a {
    color: #444444;
    margin: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

li a:link {
    color: #444444;
}

li a:visited {
    color: #3c54a5;
}

li a:hover {
    color: #545c84;
}

li a:active {
    color: #6c504c;
}

nav {
    float: right;
}

/*Tagline Section*/

#tagline a {
    background-color: #3c54a5;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: lightgray;
    text-decoration: none;
}

#tagline a:hover {
    background: #777;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }

#tagline {
    max-width: 75em;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tagline h2 {
    font-size: 3.125em;
    color: #444444;
    margin: 2rem;
}

#tagline h2 span {
    color: #3c54a5;
}

#tagline p {
    text-shadow: 0 0;
    font-size: 1em;
    color: #444444;
    margin-bottom: 0;
}
 
/*Services Section*/

#our-services {
    background-color: rgba(68, 68, 68, 0.8);
    /* This rule make background transparent while allowing all child objects to not inherit */
    color: lightgray;
    text-align: center;
    padding: .5rem;
}

#our-services, h2 {
    margin: 1rem;
}

.spacer {
    max-width: 100rem;
    margin: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
}

.col h3 {
    margin: 0;
    text-decoration-line: underline;
}

.col ul {
    padding: 0;
}

.col li {
    display: block;
    text-align: center;
    
}

/*Projects Section*/

#projects {
    padding: 2.5em;
    text-align: center;
    color: #444444;
}

/*Banner Section*/

#banner, #about-page, #services-page, #projects-page, #contact-page{
    color: #444444;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner h2 {
    margin: 0;
}

#banner p {
    margin: 0rem 0rem 0rem .5rem;
}

/*Footer*/

footer {
    padding: 1em 0em;
    background-color: rgba(68, 68, 68, 0.8);
    color: lightgray;
}

footer h3 {
    font-size: 1.25em;
    text-align: center;
    margin: 0;
}

footer a {
    font-size: 0.75em;
    margin-bottom: 1.25em;
    text-align: center;
    color: lightgray;
}

address {
    text-align: center;
}

/* contact us quote form */

form { max-width: 420px; margin: 50px auto; }

.feedback-input {
    color: #444444;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: .5rem;
    line-height: 1.5rem;
    background-color: transparent;
    border: 2px solid #7c7c7c;
    transition: all 0.3s;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus { border: 2px solid #555; }

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Goudy Bookletter 1911', sans-serif;
    width: 100%;
    background: #3c54a5;
    border-radius: .5rem;
    border: 0;
    cursor: pointer;
    color: lightgray;
    font-size: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover { 
    background: #777; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#responseMessage {
    border-radius: .5rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#responseMessage.success {
    color: #008000; 
  }
  
  #responseMessage.error {
    color: #FF0000; 
  }
  
  #responseMessage.show {
    opacity: 1;
  }