html {
    height: 100%
    
}


body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

.header .container {
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(4, 60px);
    column-gap: 2px;
    row-gap: 2px;
    background-color: aqua;
}

.header .logo {
    grid-column: 2 / 7;
    background-color: blue;
}

.logo h1 {
    text-align: center;
}

.header .social-media {
    grid-column: 8 /12;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
  }

  /* YouTube */
.fa-youtube {
    background-color: #bb0000;
    color: white;
}

  /* Instagram */

.fa-instagram {
    background: #125688;
    color: white;
}

  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
  } 

.header #offer {
    grid-area: 2 / 2 / 3 / 7;
    background-color: lawngreen;
    font-size: 1.5rem;
    margin: 0;
}

.header #offer-2 {
    grid-area: 3 / 2 / 4 / 7;
    background-color: blueviolet;
    font-size: 1rem;
    margin: 0;
}

.header .submit {
    grid-area: 4 / 2 / 5 / 4;
    background-color: brown;
    
}

.header .project {
    grid-area: 2 / 8 / 5 / 12;
    background-color: coral;
}

.project img {
    Width: 100%;
    height: 100%;
    display: block;
}

.main {
    grid-area: 5 / 1 / 11 /13;
    background-color: green;
}

#main-title {
    text-align: center;
}

.main p {
    text-align: center;
}
.footer {
    grid-area: 11 / 1 / 13 / 13;
    background-color: aqua;
}

form {
    display: grid;
    grid-row: 6 / 10;
    grid-column: 8 / 12;
}

